apiVersion: v1
kind: Template
metadata:
  name: {{ name }}-template
objects:
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: {{ name }}-ui
    name: {{ name }}-ui
  spec:
    ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: 8443-tcp
      port: 8443
      protocol: TCP
      targetPort: 8443
    selector:
      app: {{ name }}-ui
      deploymentconfig: {{ name }}-ui
    sessionAffinity: None
    type: ClusterIP
- apiVersion: v1
  data:
    nginx.conf: ${VHOST_CONF}
    nginx-status.conf: ${STATUS_CONF}
  kind: ConfigMap
  metadata:
    name: nginxconfigmap
    namespace: {{ tri }}-{{ name }}
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: {{ name }}-ui
    name: {{ name }}-ui
  spec:
    replicas: 1
    selector:
      app: {{ name }}-ui
      deploymentconfig: {{ name }}-ui
    strategy:
      activeDeadlineSeconds: 21600
      resources: {}
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        annotations:
          openshift.io/generated-by: OpenShiftNewApp
        creationTimestamp: null
        labels:
          app: {{ name }}-ui
          deploymentconfig: {{ name }}-ui
      spec:
        containers:
        - imagePullPolicy: Always
          name: {{ name }}-ui
          ports:
          - containerPort: 8443
            protocol: TCP
          - containerPort: 8080
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /opt/rh/rh-nginx112/root/usr/share/nginx/html
            name: {{ name }}-ui-volume-1
          - mountPath: /var/opt/rh/rh-nginx112/log/nginx/
            name: {{ name }}-ui-volume-2
          - mountPath: /opt/app-root/etc/nginx.d
            name: configmap-volume
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - emptyDir: {}
          name: {{ name }}-ui-volume-1
        - emptyDir: {}
          name: {{ name }}-ui-volume-2
        - name: configmap-volume
          configMap:
            name: nginxconfigmap
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - {{ name }}-ui
        from:
          kind: ImageStreamTag
          name: {{ name }}-ui:latest
          namespace: project-build-fastit-rsc
      type: ImageChange
parameters:
- description: The name for the application.
  name: APPLICATION_NAME
  required: true
- description: The name for the application.
  name: APP_BUILD_NAMESPACE
  required: true
- description: VHOST_CONF
  name: VHOST_CONF
  required: true
- description: STATUS_CONF
  name: STATUS_CONF
  required: true
