apiVersion: v1
kind: Template
metadata:
  name: ${APPLICATION_NAME}-template
objects:
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: ${APPLICATION_NAME}-api
    name: ${APPLICATION_NAME}-api
  spec:
    ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
    selector:
      app: ${APPLICATION_NAME}-api
      deploymentconfig: ${APPLICATION_NAME}-api
    sessionAffinity: None
    type: ClusterIP
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    creationTimestamp: null
    generation: 1
    labels:
      app: ${APPLICATION_NAME}-api
    name: ${APPLICATION_NAME}-api
  spec:
    replicas: 1
    selector:
      app: ${APPLICATION_NAME}-api
      deploymentconfig: ${APPLICATION_NAME}-api
    strategy:
      activeDeadlineSeconds: 21600
      resources: {}
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        pre:
          execNewPod:
            command:
            - /bin/bash
            - -c
            - mv /opt/app-root/src/src/* /opt/app-root/src/; /opt/rh/rh-nodejs8/root/usr/bin/npm run database:migrate:up
            containerName: ${APPLICATION_NAME}-api
            env:
            - name: DEV_MODE
              value: "false"
            - name: NODE_ENV
              value: production
          failurePolicy: Abort
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        labels:
          app: ${APPLICATION_NAME}-api
          deploymentconfig: ${APPLICATION_NAME}-api
      spec:
        containers:
        - name: ${APPLICATION_NAME}-api
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: database-user
                  name: postgresql
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-password
                  name: postgresql
            - name: POSTGRES_DATABASE
              valueFrom:
                secretKeyRef:
                  key: database-name
                  name: postgresql
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  key: database-host
                  name: postgresql
            - name: POSTGRES_PORT
              value: "${DATABASE_PORT}"
            - name: POSTGRES_SCHEMA
              value: public
            - name: STI_SCRIPTS_PATH
              value: /tmp/scripts
            - name: NODE_ENV
              value: production
          imagePullPolicy: Always
          name: ${APPLICATION_NAME}-api
          ports:
          - containerPort: 8080
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - ${APPLICATION_NAME}-api
        from:
          kind: ImageStreamTag
          name: ${APPLICATION_NAME}-api:latest
          namespace: ${APP_BUILD_NAMESPACE}
      type: ImageChange
- apiVersion: v1
  kind: Route
  metadata:
    annotations:
      openshift.io/host.generated: "true"
    creationTimestamp: null
    labels:
      app: ${APPLICATION_NAME}-api
    name: ${APPLICATION_NAME}-api
  spec:
    port:
      targetPort: 8080-tcp
    tls:
      termination: edge
    to:
      kind: Service
      name: ${APPLICATION_NAME}-api
      weight: 100
    wildcardPolicy: None
- apiVersion: v1
  data:
    database-name: ${DATABASE_NAME}
    database-password: ${DATABASE_PASSWORD}
    database-user: ${DATABASE_USER}
    database-host: ${DATABASE_HOST}
  kind: Secret
  metadata:
    annotations:
      template.openshift.io/expose-database_name: '{.data[''database-name'']}'
      template.openshift.io/expose-password: '{.data[''database-password'']}'
      template.openshift.io/expose-username: '{.data[''database-user'']}'
      template.openshift.io/expose-database_host: '{.data[''database-host'']}'
    creationTimestamp: null
    labels:
      app: postgresql-persistent
      template: postgresql-persistent-template
    name: postgresql
  type: Opaque
parameters:
- description: The name for the application.
  name: {{ name }}
  required: true
- description: The name for the application.
  name: APP_BUILD_NAMESPACE
  required: true
  value: project-build-fastit-rsc
- description: DATABASE_NAME
  name: DATABASE_NAME
  required: true
  value: {{ name }}
- description: DATABASE_PASSWORD
  name: DATABASE_PASSWORD
  required: true
- description: DATABASE_HOST
  name: DATABASE_HOST
  required: true
- description: DATABASE_PORT
  name: DATABASE_PORT
  required: true
  value: 94200
- description: DATABASE_USER
  name: DATABASE_USER
  required: true
  value: {{ name }}
